//Colors
$primary-color: #ea6ba2;
$background-color: #d5edf9;
$disbled-backround-color: #c1b0b7;
$disbled-text-color: gray;

//fonts family
$cursive-font: 'Caveat', cursive;
$sans-serif-font: 'M PLUS Rounded 1c', sans-serif;
