.task {
  background-image: url(/img/underlining.png);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 4%;
  padding-bottom: 3px;
  &.done {
    text-decoration: line-through;
  }
}

.footer {
  font-size: 20px;
  display: flex;
  width: calc(100% - 8px);

  .control {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    gap: 10px;

    > * {
      text-align: center;
      flex: 1 1 58px;
    }
  }
  .founder {
    text-align: right;
    flex-grow: 1;
    padding-left: 10px;
    font-weight: 700;
    div {
      display: inline-block;
      &:nth-child(2) {
        margin-left: 10px;
      }
    }
    span {
      font-family: initial;
      font-size: 15px;
      font-style: italic;
      font-weight: normal;
      &:nth-child(2) {
        margin-left: 10px;
      }
    }
  }
}
